@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Kaisei+Opti&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    /* fondo blanco */
}

header {
    /* background-color: #333; fondo del header */
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 80px;
    padding: 0px;
    margin: 0px;
    display: flex;
    width: auto;
    flex: none;
    left: 30px;
    max-width: 100%;
    top: 28px;
    border-radius: 20px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

section.formulario-contacto {
    padding: 20px;
}

section.formulario-contacto h2 {
    margin-top: 0;
}

section.formulario-contacto form {
    display: flex;
    flex-direction: column;
}

section.formulario-contacto label,
section.formulario-contacto input,
section.formulario-contacto textarea {
    margin-bottom: 10px;
}

section.formulario-contacto input,
section.formulario-contacto textarea {
    padding: 5px;
    border: 1px solid #ccc;
}

section.formulario-contacto button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;

}

footer a:hover {
    text-decoration: underline;
}