@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Kaisei+Opti&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  height: 100vh;
  overflow: hidden;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  transition: background-image 1s ease-in-out;
}

header,
footer {
  position: fixed;
  width: 100%;
  z-index: 1;
}

header {
  top: 0;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px;
  font-family: "Bodoni Moda", serif;
}

footer {
  bottom: 0;
}

.redes {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.logo-container {
  width: 572px;
  height: 180px;
  padding-left: 10px;
}

.logo {
  margin-bottom: 20px;
  padding-left: 10px;
}

.store-planning {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 12px;
}

h3 {
  font-size: 1.5em;
  margin: 0;
  font-family: "Clash Display", "Clash Display Placeholder", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4em;
  text-align: right;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Clash Display", "Clash Display Placeholder", sans-serif;
  width: 43%;
  max-height: 80vh;
  overflow: auto;
}

.linktree {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 2em;
  box-sizing: border-box;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.linktree::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.linktree:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.linktree-container {
  display: flex;
  justify-content: center;
  bottom: 0;
}

.linktree-container-index {
  display: flex;
  justify-content: center;
}

.strong {
  font-weight: bold;
  font-weight: 800;
}

.linktree-celu {
  display: none;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-family: 'DM Sans';
  margin-top: 30px;
}

.celu {
  display: none;
}

.compu {
  display: block;
}

.section p {
  padding: 10px;
  font-weight: 400;
  font-size: 18px !important;
  font-size: 1em;
  text-align: justify;
  line-height: 1.5;
  font-family: 'DM Sans';
}

h1 {
  font-size: 86px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  flex: none;
  left: 30px;
  max-width: 100%;
  top: 28px;
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: -3.8px;
  font-weight: 400;
  height: 100px;
}

a {
  color: black;
  text-decoration: none;
}

.h2 {
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 800;
  padding: 0;
}

.parr {
  margin: 0px;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
}

li {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 2em;
  display: block !important;
  padding: 0.5rem !important;
  box-sizing: border-box;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.menu-item {
  opacity: 0;
  animation: slideUp 0.6s ease-out forwards;
}

.menu-item:nth-child(1) {
  animation-delay: 0.2s;
}

.menu-item:nth-child(2) {
  animation-delay: 0.4s;
}

.menu-item:nth-child(3) {
  animation-delay: 0.6s;
}

.menu-item:nth-child(4) {
  animation-delay: 0.8s;
}

.logo-item {
  opacity: 0;
  animation: slideUp 0.6s ease-out forwards;
}

.logo-item:nth-child(1) {
  animation-delay: 0.2s;
}

.logo-item:nth-child(2) {
  animation-delay: 0.4s;
}

.logo-item:nth-child(3) {
  animation-delay: 0.6s;
}

.logo-item:nth-child(4) {
  animation-delay: 0.8s;
}

.secondary-menu {
  display: flex;
  flex-flow: row;
  gap: 65px;
  height: min-content;
  overflow: hidden;
  padding: 0px;
  position: relative;
  width: 572px;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  place-content: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  align-items: center;
  font-weight: 400;
}

.secondary-menu a {
  width: 86px;
}

.secondary-menu a:hover {
  color: #e4e4e4;
  text-decoration: underline;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 2;
  padding: 10px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.hamburguer-menu {
  display: none !important;
}

.flipbook {
  margin-top: 100px;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1150px) {
  h1 {
    font-size: 58px;
    height: 100%;
  }
}

@media (max-width: 1000px) {

  .flipbook {
    height: 60vh;
    width: 100%;
  }

  .flip {
    width: 100% !important;
  }

  .hamburguer-menu {
    display: block !important;
  }

  .hamburger {
    display: flex;
  }

  .celu {
    display: block;
  }

  .linktree-celu {
    display: flex;
  }

  .container-que-hacemos {
    height: inherit !important;
  }

  .li-compu {
    display: none !important;
    padding: 0px !important;
  }

  .content {
    max-width: 80%;
    margin-top: 65%;
    overflow: visible;
  }

  .como-trabajamos {
    width: 80%;
  }

  .que-hacemos {
    width: 80%;
    max-width: 80%;
    margin-top: 10%;
    overflow: auto;
  }

  .title {
    font-size: 30px;
  }

  .como-trabajamos {
    height: 90vh;
  }

  .compu {
    display: none;
  }

  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: white;
    transition: left 0.4s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 0px;
  }

  .menu.open {
    display: flex;
    left: 0;
  }

  .menu li:hover::after {
    display: none;
  }

  .close-btn {
    align-self: flex-end;
    font-size: 30px;
    cursor: pointer;
  }

  header {
    background-color: white;
    display: flex;
    justify-content: space-between;
  }

  .logo-container {
    height: 100%;
    width: auto;
  }

  .store-planning {
    margin-right: 2px;
  }

  .container {
    max-width: 100%;
    height: 70%;
  }

  .secondary-menu {
    display: none;
  }

  h1 {
    font-size: 42px;
    height: 100%;
  }

  h3 {
    font-size: 12px;
  }
}